container {

    padding: 20;

    margin: 20;

    background-color: #310872;

    color: aliceblue;
}

.navbar {
<<<<<<< HEAD
    background-color: #2d3656 !important;
    color: aliceblue;
}

body {
    background-color: #2d3656 !important;
    color: aliceblue;
}

tr {
    color: aliceblue;
}

a {
    border: 2px solid #FFF;
    border-radius: 5px;
    -webkit-text-stroke: 2px #fffcfc;
    text-shadow: 2px #05b11c;
=======
    background-color: #2d3656  !important;
    color: aliceblue;
}

.body {
    background-color: #2d3656 !important;
>>>>>>> a9d7e44ac0d5b0fa8c8b522a6559b30bd6a1d62e
}

.brand-black-2 {
    height: 40px;
    display: block;
}

#offcanvasBottom24 {
    height: min(55vh, 600px) !important;
}

#offcanvasBottom50 {
    height: min(55vh, 600px) !important;
}