
navbar {

    padding: 0;

    margin: 0;

    background-color: #6610f2;
}

#offcanvasBottom24 {
    height: min(55vh, 600px) !important;
}
#offcanvasBottom50 {
    height: min(55vh, 600px) !important;
}
